@charset "UTF-08";

/*mobile*/
.sumir {
    transform: translateY(-100%);
    transition-duration: 1s;
}

.cabecario {
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-um);
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;

    padding: 25px 26px;
}

.logo-img {
    width: 25%;
}

.logo-nome {
    display: none;
}

.itens {
    display: flex;
    align-items: center;
    padding: 25px 40px;

    gap: 5em;
}

.itens-link {
    display: flex;
    align-items: center;
}

.itens-link:hover > .itens-link-icone {
    border: 1.5px solid var(--color-destaque-um);
    box-shadow: 0px 0px 3em var(--color-destaque-um);
    transition-duration: 1s;
}

.itens-link:hover > .itens-link-objeto {
    font-weight: 500;
    -webkit-text-stroke: 1px var(--color-destaque-um);
    text-shadow: 0px 0px 5px var(--color-destaque-um);
    transition-duration: 1s;
}

.itens-link-icone {
    width: 42px;
    border-radius: 50%;
}

.itens-link-objeto {
    display: none;
}

/*tablet/descktop*/

@media screen and (min-width: 1000px){

    .cabecario {
        padding: 0em 3em;
    }

    .logo {
        display: flex;
        gap: 1em;
    }

    .logo-img {
        width: 20%;
    }

    .logo-nome{
        display: block;
        font-size: 2rem;
        color: var(--color-dois);
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: 500;
    }

    .itens {
        gap: 10em;
    }

    .itens-link {
        gap: 1em;
        text-decoration: none;
    }

    .itens-link > img {
        width: 60px;
    }

    .itens-link-objeto {
        display: block;
        color: var(--color-dois);
        text-decoration: none;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.2rem;
    }
}
